PORT=3000

SOLANA_RPC_URL=https://api.mainnet-beta.solana.com

DEXFANS_TREASURY_WALLET=YOUR_SOLANA_TREASURY_WALLET

GOJIPOWER_MINT=DYCLLejhtfyCDUY8ygBx7Y7uwfcdaRzLo7nHHVGdApump

PLATFORM_FEE_PERCENT=5

DATABASE_FILE=./dexfans.db
